.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/coverage
test/e2e/reports
selenium-debug.log
.nyc_output/

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
